[submodule "lib/yui3-gallery"]
	path = lib/yui3-gallery
	url = http://github.com/yui/yui3-gallery
[submodule "lib/ckeditor"]
	path = lib/ckeditor
	url = https://github.com/kenjiru/ckeditor.git
[submodule "lib/yui3"]
	path = lib/yui3
	url = http://github.com/yui/yui3
